<!DOCTYPE html>
<html>
<head>
    <title>{{ blog_post.title }} - Bromine</title>
    <link rel="stylesheet" href="/static/style.css">
    <!-- Add your HTML head content here -->
</head>
<body>
    <nav class="flex gap-4 items-center">
        <img src="/static/bromine.rmbg.png" width="100" height="100" alt="">
        <strong class="text-xl">
            <span>
                Bromine
            </span>
        </strong>
        <ul class="sm:flex gap-4">
            <li><a href="/">Home</a></li>
            <li><a href="https://brocode-tech.netlify.app">BroCode Tech Community</a></li>
            {% if not user.is_authenticated %}
            <li><a href="/accounts/login">Sign up</a></li>
            {% else %}
            <li><a href="/profile/{{user.username}}">Profile</a></li>
            <li><a href="/new/blogs/">New Post</a></li>
            {% endif %}
        </ul>
    </nav>
    <section class="grid sm:grid-cols-4 p-2">
        <article class="col-span-3">
            <div id="meta-data" class="p-2 grid grid-cols-6">
                <a href="/profile/{{ blog_post.author.username }}">
                    <img src="/avatar/{{ blog_post.author.username }}" alt="{{ blog_post.author }}">
                </a>
                <div class="col-span-5 p-2">
                    <h1 class="text-4xl">{{ blog_post.title }}</h1>
                    <p class="text-xl">Author: <a href="/profile/{{ blog_post.author.username }}">{{ blog_post.author.username }}</a></p>
                    <p class="text-bold">Published on: {{ blog_post.created_at }}</p>
                    {% if user.username == blog_post.author.username %}
                    <p class="text-bold hover:underline">
                        <a href="edit/">Edit</a>
                    </p>
                    {% endif %}
                </div>
            </div>
            <hr>
            <div id="content">
                {{ blog_post.content | safe }}  <!-- Use the safe filter to r{tender HTML content -->
            </div>
            <div id="comments">
                <strong class="text-2xl">
                    Comments
                </strong>
                {% if user.is_authenticated %}
                    <a href="comment/" class="hover:underline text-sm">New Comment</a>
                {% endif %}
                <br>
                {% if comments %}
                <ul class="grid sm:grid-cols-2 divide-x gap-4">
                    {% for x in comments %}
                    <li class="p-2 gap-4">
                        <img class="inline rounded-lg" height="32" width="32" src="/avatar/{{ x.user.username }}" alt="{{ x.user }}">
                        <div>
                            <a class="text-sm" href="/profile/{{ x.user.username }}">{{ x.user.first_name }} {{ x.user.last_name }}</a>
                            <p class="text-xl">{{ x.text }}</p>
                        </div>
                        {% if x.user.username == user.username %}
                        <a href="comment/{{ x.uuid }}/delete/" class="hover:underline">Delete</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <strong>No Comments Found</strong>
                {% endif %}
            </div>
        </article>
        <div class="divide-x p-2">
           <strong class="text-xl">
            More from {{ blog_post.author }}
           </strong> 
           <hr>
           <ul>
                {% for x in m %}
                <li class="flex p-2">
                    <a alt="{{ x.author.username }}'s Profile" class="block p-1 align-middle" href="/profile/{{ x.author.username }}/">
                        <img class="rounded-lg block" height="64" width="64" src="/avatar/{{ x.author.username }}" alt="{{ x.author.first_name }}">
                    </a>
                    <a alt="Click here to Read {{ x.title }}" class="align-middle p-1" href="/blogs/{{ x.slug }}/">
                        <p class="text-sm">
                            {{ x.author.first_name }} {{ x.author.last_name }}
                            (@{{ x.author.username }})
                        </p>
                        <p class="text-2xl">
                            {{ x.title }}
                        </p>
                        <p class="text-lg">
                            {{ x.created_at }}
                        </p>
                    </a>
                </li>
                <hr>
                {% endfor %}
           </ul>
           <hr>
           <strong class="text-xl">
            More Like this
           </strong>
           <hr>
           <ul>
            {% for x in n %}
            <li class="flex p-2">
                <a alt="{{ x.author.username }}'s Profile" class="block p-1 align-middle" href="/profile/{{ x.author.username }}/">
                <img class="rounded-lg block" height="64" width="64" src="/avatar/{{ x.author.username }}" alt="{{ x.author.first_name }}">
            </a>
            <a alt="Click here to Read {{ x.title }}" class="align-middle p-1" href="/blogs/{{ x.slug }}/">
                <p class="text-sm">
                    {{ x.author.first_name }} {{ x.author.last_name }}
                    (@{{ x.author.username }})
                </p>
                <p class="text-2xl">
                    {{ x.title }}
                </p>
                <p class="text-lg">
                    {{ x.created_at }}
                </p>
            </a>
            </li>
            <hr>
            {% endfor %}
           </ul>
        </div>
    </section>
</body>
</html>
