<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bromine</title>
    <link rel="stylesheet" href="/static/style.css">
<style>
    body {
        background-image: url('https://assets.digitalocean.com/labs/images/community_bg.png');
    }
</style>
</head>

<body class="text-white">
   <header class="divide-y">
        <nav class="flex items-center gap-4 divide-x">
            <img class="inline-block" width="100" height="100" src="/static/bromine.rmbg.png" alt="">
            <strong class="p-1 text-4xl">Bromine</strong>
            <ul class="gap-2 p-2">
                <li><a href="">Home</a></li>
                <li><a href="https://brocode-tech.netlify.app">BroCode</a></li>
                <li><a href="">Sign in</a></li>
            </ul>
        </nav>
        <div class="text-white m-10 p-8">
            <div>
                <h1 class="text-6xl">Hi, This is Bromine.</h1>
                <h2 class="text-4xl">The Open Source blogging Platform</h2>
            </div>
            <div class="p-3 flex divide-x">
                <a class="p-2 hover:underline" href="https://brocode-tech.netlify.app">
                    <img class="inline-block" src="/static/bctc-logo.jpg" width="56" height="56" alt="">
                    BroCode
                </a>
                <br>
                <a class="p-2 hover:underline" href="/accounts/login">
                    <img class="inline-block" src="/static/bromine.rmbg.png" width="56" height="56" alt="">
                    Register
                </a>
            </div>
        </div>
   </header> 
</body>
</html>